.rl-advanced-banner-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: none;
    font-family: 'object-fit: none;';

    &.rl-advanced-banner-image--media-mode--contain {
        object-fit: contain;
        font-family: 'object-fit: contain;';
    }

    &.rl-advanced-banner-image--media-mode--cover {
        object-fit: cover;
        font-family: 'object-fit: cover;';
    }
}
