{% block sw_cms_block_rl_advanced_banner %}
    <div class="sw-cms-block-rl-advanced-banner">
        <slot name="banner">{% block sw_cms_block_rl_advanced_banner_slot_banner %}{% endblock %}</slot>
    </div>
{% endblock %}
