{% block rl_advanced_banners_detail_preview_layer_text %}
    <div class="rl-advanced-banners-detail-preview-layer-text">
        <div :class="previewClasses"
             :style='previewStyles'>
            <div v-html="$sanitize(layer.config.content)"></div>
        </div>
    </div>
{% endblock %}
