@import "~scss/variables";

.rl-advanced-banners-detail-preview-layer-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &.bs-cover {
            background-size: cover;
        }

        &.bs-contain {
            background-size: contain;
        }
    }
}
