{% block sw_cms_block_rl_advanced_banner_preview %}
    <div class="sw-cms-preview-rl-advanced-banner">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    </div>
{% endblock %}
