<div class="rl-advanced-banners-layer-config-text">
    <sw-sidebar-collapse :expandOnLoading="true">
        <template slot="header">
            {{ $tc('rl-advanced-banners.layer.text.text-config') }}
        </container>
        <template slot="content">
            <sw-text-editor :label="$tc('rl-advanced-banners.layer.text.content')"
                           v-model="config.content"></sw-text-editor>

            <sw-container columns="1fr 1fr" gap="0px 30px">
                <div>
                    <sw-select-field :label="$tc('rl-advanced-banners.layer.text.alignX')"
                                     v-model="config.textAlignX">
                        <option value="left">{{ $tc('rl-advanced-banners.layer.position.left') }}</option>
                        <option value="center">{{ $tc('rl-advanced-banners.layer.position.center') }}</option>
                        <option value="right">{{ $tc('rl-advanced-banners.layer.position.right') }}</option>
                    </sw-select-field>
                </div>
                <div>
                    <sw-select-field :label="$tc('rl-advanced-banners.layer.text.alignY')"
                                     v-model="config.textAlignY">
                        <option value="top">{{ $tc('rl-advanced-banners.layer.position.top') }}</option>
                        <option value="center">{{ $tc('rl-advanced-banners.layer.position.center') }}</option>
                        <option value="bottom">{{ $tc('rl-advanced-banners.layer.position.bottom') }}</option>
                    </sw-select-field>
                </div>
            </sw-container>
        </container>
    </sw-sidebar-collapse>

    <sw-sidebar-collapse>
        <template slot="header">
            {{ $tc('rl-advanced-banners.layer.config.basic-config') }}
        </container>
        <template slot="content">
            <rl-advanced-banners-layer-default-config :layer="layer"></rl-advanced-banners-layer-default-config>
        </container>
    </sw-sidebar-collapse>
</div>
