{% block sw_cms_el_preview_rl_advanced_banner %}
    <div class="sw-cms-el-preview-rl-advanced-banner">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    </div>
{% endblock %}
