{% block block_rl_advanced_banner %}
    {% set id = element.id %}

    {% set element = block.slots.getSlot('banner') %}

    <div class="col-12" data-cms-element-id="{{ element.id  }}">
        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
    </div>
{% endblock %}
