{% block rl_advanced_banners_sidebar_banner %}
<sw-sidebar class="rl-advanced-banners-detail-sidebar">
    {% block rl_advanced_banners_sidebar_banner_settings %}
        <sw-sidebar-item icon="default-action-settings"
                         :title="$tc('rl-advanced-banners.detail.sidebar.titleBannerSettings')"
                         ref="bannerConfigSidebar">

            {% block rl_advanced_banners_sidebar_banner_settings_content %}
                <sw-sidebar-collapse :expandOnLoading="true">

                    {% block rl_advanced_banners_sidebar_banner_settings_header %}
                        <span slot="header">{{ $tc('rl-advanced-banners.detail.sidebar.titleBannerBaseSettings') }}</span>
                    {% endblock %}

                    {% block rl_advanced_banners_sidebar_banner_settings_form %}
                        <div class="rl-advanced-banners-detail-sidebar__settings" slot="content">
                            {% block rl_advanced_banners_sidebar_banner_settings_name_field %}
                                <sw-field type="text"
                                          v-if="advancedBanner"
                                          :label="$tc('rl-advanced-banners.detail.labelTechnicalName')"
                                          :placeholder="placeholder(advancedBanner, 'technicalName')"
                                          v-model="advancedBanner.technicalName">
                                </sw-field>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </sw-sidebar-collapse>
            {% endblock %}
        </sw-sidebar-item>
    {% endblock %}

    {% block rl_advanced_banners_sidebar_banner_layers %}
        <sw-sidebar-item icon="default-os-layers"
                         :title="$tc('rl-advanced-banners.detail.sidebar.titleBannerLayers')"
                         ref="bannerLayersSidebar">

            <div class="rl-advanced-banners-detail-layers-actions">
                {% block rl_advanced_banners_sidebar_banner_layers_actions %}
                    <div class="rl-advanced-banners-detail-layers-action"
                         @click="addTextLayer">
                        {{ $tc('rl-advanced-banners.detail.sidebar.addLayer.text') }}
                    </div>
                    <div class="rl-advanced-banners-detail-layers-action"
                         @click="addSolidLayer">
                        {{ $tc('rl-advanced-banners.detail.sidebar.addLayer.solid') }}
                    </div>
                    <div class="rl-advanced-banners-detail-layers-action"
                         @click="addImageLayer">
                        {{ $tc('rl-advanced-banners.detail.sidebar.addLayer.image') }}
                    </div>
                    <div class="rl-advanced-banners-detail-layers-action"
                         @click="addButtonLayer">
                        {{ $tc('rl-advanced-banners.detail.sidebar.addLayer.button') }}
                    </div>
                {% endblock %}
            </div>

            {% block rl_advanced_banners_sidebar_banner_layers_content %}
                <div class="rl-advanced-banners-detail-layers">
                    <rl-advanced-banners-detail-layer
                        :key="layer.id"
                        v-if="advancedBanner"
                        v-for="layer in advancedBanner.data.layers"
                        :layer="layer"
                        v-draggable="{ dragGroup: 'banner-layer', data: layer, onDragEnter: onLayerDragSort }"
                        v-droppable="{ dragGroup: 'banner-layer', data: layer }"
                        @config-layer="onLayerConfig(layer)"
                        @remove-layer="onLayerRemove(layer)"></rl-advanced-banners-detail-layer>
                </div>
            {% endblock %}

            <sw-modal ref="configModal"
                      v-if="layerConfigLayer"
                      class="rl-advanced-banners-detail-layer__modal"
                      @modal-close="onConfigModalClose">
                <template #modal-header>
                    <h4 class="sw-modal__title" id="modalTitleEl">
                        {{ $tc('rl-advanced-banners.layer.modalTitle.' + layerConfigLayer.type) }}
                    </h4>

                    <sw-button :title="$tc('global.sw-modal.labelClose')"
                               size="small"
                               variant="primary"
                               :aria-label="$tc('global.sw-modal.labelClose')"
                               @click.prevent="$refs.configModal.closeModal">
                        {{ $tc('rl-advanced-banners.layer.modalDoneButton') }}
                    </sw-button>
                </template>

                <component :is="'rl-advanced-banners-layer-config-' + layerConfigLayer.type" :layer="layerConfigLayer"></component>
            </sw-modal>
        </sw-sidebar-item>
    {% endblock %}
</sw-sidebar>
{% endblock %}
